html
  head
    title= title
    link(rel="stylesheet", href="/" + context + "/css/hello.css")
  body
    header
        img(src="https://avatars0.githubusercontent.com/u/57907574?s=200&v=4" width="128px")
        .headerText CD Acceleration with CloudBees Core Workshop
    section.helloworld
      h1#message= message
      h2 This page brought to you by the Letter 'R', the number 17, and #{name}
    footer.info
        p Build Number: #{buildNumber}  Commit: #{shortCommit}
