html
  head
    title= title
    link(rel="stylesheet", href="/" + context + "/css/hello.css")
  body
    header
        img(src="https://icon-icons.com/icons2/1352/PNG/128/if-06-harry-potter-colour-sorting-hat-2730319_88134.png" width="128px")
        .headerText CD Acceleration with CloudBees Core Workshop
    section.helloworld
      h1#message= message
      h2 This page brought to you by the Letter 'R', the number 17, and #{name}
    footer.info
        p Build Number: #{buildNumber}  Commit: #{shortCommit}
